<button class = "btn btn-primary item-button text-uppercase" data-link="<%=i.affiliate_link%>" data-toggle="modal" data-target="#newFulfillmentModal" data-item-id="<%=i.id%>" data-item-store-name="<%=i.store_name %>" data-item-notes="<%=i.notes %>" data-item-affiliate-link="<%=i.affiliate_link %>">  
  I'll Buy This
</button>