<div class="modal fade" id="newFulfillmentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
  <div class="modal-content">
      <div class = "modal-body">
          <!--<button type="button" class="close form-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
          <h3 id="step-one-header">Step #1: Buy this gift</h3>
          <!--<span class="store-name">Store</span>-->
          <ul>
            <li class="bullet" id="item-notes-li">
              <%=@user.couple_first_names%> would like: <span id="item-notes">Notes</span>
            </li>
            <li class="bullet" id="address-li">
              Ship this gift to:</br>
              <span> <%= "#{@user.couple_full_names}"%></%></span></br>            
              <span> <%= "#{@user.street}"%></%></span></br>
              <span> <%= "#{@user.city}, #{@user.state} #{@user.zip}"%></%></span></br>
            </li>
            <li class="bullet">
              <a class="label label-primary" id="affiliate-link" href="#" target="_blank">Click Here</a>
               to be directed to the
              <span class="store-name">Store</span>
              product webpage if it didn't already open.
            </li>
          </ul>
          <h3>Step #2: Submit this form to update their registry</h3>
      <%= form_for @fulfillment, url: fulfillments_create_path do |f|%>
        <div class="form-group">
          <%= f.label :buyer_name, 'Your Name' %>
          <%= f.text_field :buyer_name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :buyer_email, 'Your Email' %>
          <%= f.email_field :buyer_email, class: "form-control" %>
        </div>
        <div class="form-group">
        <%= f.label :quantity, "How many of this gift did you buy for #{@user.couple_first_names}" %>
          <%= f.number_field :quantity, class: "form-control" %>
        </div>
          <%#= f.label :message, "If you want, you can type a message to #{@user.first_name} & #{@user.other_first_name} here:" %>
          <%#= f.text_area :message %>
        <%= f.hidden_field :item_id %>    
        <div class="text-center">
        <button type="button" class="btn btn-default text-uppercase" data-dismiss="modal">Nevermind</button>
        <%= f.submit "I bought this for #{@user.couple_first_names}", class: 'btn btn-primary text-uppercase'%>
          </div>
      <% end %>  
        </div> 
      </div>      
  </div>
</div>